.number__title{
    margin: 0 auto;
    font-size:40px;
    text-align: center;
}

#myTable{
    margin: 0 auto;
    margin-top:50px;
}
.total{
    margin: 0 auto;
    text-align: center;
    width: 172px;
    background-color: black;
    color:white;
}
td, th {
    background: black; 
    padding: 5px 20px; 
    color:white;
}
.total__title{
    font-size: 16px;
    display: inline-block;
    margin-right: 20px;
    margin: 0;
    padding: 7px;
    margin-right: 35px;
}
#total__summ{
    margin-right: 10px;
    font-size:16px;
}